extends layout

block content
  h1= title
  
  div
    each message in messages
      div.message_card
        div.user= message.user 
        div.msg=  message.text 
        div.time_added= message.added

  button
    a(href="/new") Add new message